.offer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: linear-gradient(180deg, rgba(10, 10, 11, 0.2) 0%, rgba(10, 10, 11, 0.5) 100%);

    &__left {

        &--title {
            max-width: 312px;
            font-weight: 600;
            font-size: 24px;
            line-height: 140%;
            color: #F1F2F3;
        }

        &--text {
            max-width: 375px;
            font-weight: 400;
            font-size: 16px;
            line-height: 140%;
            color: #BABEC4;
            margin-top: 32px;
            margin-bottom: 48px;
        }

        &--btn {
            font-weight: 500;
            font-size: 16px;
            line-height: 140%;
            color: #FFFFFF;
            background: #4177DC;
            border-radius: 4px;
            padding: 14px 32px;
            border: none;
        }
    }
}

@media only screen and(max-width: 360px) {
    .offer {
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: linear-gradient(180deg, rgba(10, 10, 11, 0.2) 0%, rgba(10, 10, 11, 0.5) 100%);

        &__left {

            &--title {
                max-width: 312px;
                font-weight: 600;
                font-size: 20px;
                line-height: 140%;
                color: #F1F2F3;
            }

            &--text {
                max-width: 312px;
                font-weight: 400;
                font-size: 15px;
                line-height: 140%;
                color: #BABEC4;
                margin-top: 32px;
                margin-bottom: 48px;
            }

            &--btn {
                font-weight: 500;
                font-size: 15px;
                line-height: 140%;
                color: #FFFFFF;
                background: #4177DC;
                border-radius: 4px;
                padding: 14px 32px;
                border: none;
                margin-bottom: 64px;
            }
        }

        &__right {

            &--img {
                width: 400px;
                height: 179.55px;
            }
        }
    }
}